*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(0, 132, 255);
}
h1{
    color: white;
    font-size: 42px;
    text-align: center;
}
section{
    background: white;
    height: 500px;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 20px;
}
footer p{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
}
img{
    border-radius: 50%;
    margin-top: 150px;
}
div{
    text-align: center;
    
}
h2{
    font-size: 28px;
}